# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# misc incl todo file
/toDoHidden.txt

# mail test
/app/about/mailTest.tsx

# flashcard content
/app/lib/flashcard-seed-data.json

# mock data test content
/app/flashcards/mock/page.tsx
/app/lib/mockFeedbackData.ts
/app/lib/old-flashcard-seed-data.json
/app/ui/dashboard/writtenSummaryMock.tsx

# db init content
/app/seed/initiation.sql
/app/seed/route.ts
/app/seed/session.sql

#miscellaneous code
/app/miscellaneous-code

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.production
.env.development

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
