@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

h1 {
  font-size: 3.75rem;}

h2 {
  font-size: 3.75rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 2.75rem;
}

h6 {
  font-size: 2.5rem;
}

h7 {
  font-size: 2rem;
}

p {
  font-size: 1.75rem;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/*Nav bar*/

.navlink {
  /*margin: 2%;
  margin-left: 2px;*/
  padding: 10px 40px;
  border: black solid 1px;  
  border-radius: 15px;
}

.navlink:hover {
  border-radius: 30px;
  transition: border-radius 0.5s;
}

.navbar-container {
  position: fixed;

}

.navbar-links-container {
  margin-left: auto;
    /* padding: 5%; */
    /* margin-right: 0%; */
    /* right: 0; */
    flex-basis: auto;
    width: 100%;
    justify-content: flex-end;
}

.desktop-nav {
  display: none !important;
}

@media screen and (min-width: 992px) {
  .mobile-nav {
    display: none  !important;
  }
  
  .desktop-nav {
    display: flex !important;
  }
}

/*Nav bar ends*/

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
