@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

html,body {
  width: 100%;
  /*height: 100%;*/
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

textarea {
  background-color: white;
  color: black;
}

.modal-box {
  background-color: white !important;
}/**/

:root {
  --background: #ffffff;
  --foreground: #171717;
  --altcha-max-width: 100%;
}

.global-input-width {
  width: 100%;
}

@media screen and (min-width: 768px){
  .global-input-width {
    width: 50%;
  }

  .altcha {
    --altcha-max-width: 50%;
  }

  
}

/*Animation loader*/

.loader {

  position: fixed;

  /*top: 50%;

  left: 50%;*/

  width: 100vw;

  height: 100vh;

  background-color: white;

  z-index: 3;

}

/*Animation loader ends*/

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    --background: #ffffff;
    --foreground: #171717;
  }
}
/**/


h1 {
  font-size: 1.75rem;}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.75rem;
}

h6 {
  font-size: 1.2rem;
}

h7 {
  font-size: 2rem;
}

p {
  font-size: 0.75rem;
}

@media screen and (min-width: 768px){
  h1 {
    font-size: 3.75rem;}
  
  h2 {
    font-size: 3.25rem;
  }
  
  h3 {
    font-size: 3rem;
  }
  
  h4 {
    font-size: 3rem;
  }
  
  h5 {
    font-size: 2.75rem;
  }
  
  h6 {
    font-size: 2.5rem;
  }
  
  h7 {
    font-size: 2rem;
  }
  
  p {
    font-size: 1.5rem;
  }
}

.spacer {
  height: 2rem;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Buttons */

.button-can-disabled:disabled {
  background-color: grey !important;
  color: white !important;
  cursor: not-allowed;
}

#button-disabled-id:disabled {
  background-color: grey !important;
  color: white !important;
  cursor: not-allowed;
}

/* Buttons ENDS */

/*Nav bar*/


/* https://developer.mozilla.org/en-US/docs/Web/CSS/position-anchor */
/*.anchor {
  anchor-name: --text-anchor;
}

.enlarge-text {
  position-anchor: --text-anchor;
  left: anchor(right);
  bottom: anchor(top);
  top: 0;
}*/

#enlarge-text-svg {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    border: solid black 1px;
    border-radius: 10%;
}

.navlink {  
  padding: 10px 40px;
  border: black solid 1px;  
  border-radius: 15px;
  font-size: 16px;
}

.navlink-account-button {  
  padding: 10px 15px;
  border: black solid 1px;  
  border-radius: 50%;
  font-size: 16px;
}

.navlink-account-button:hover {
  border-radius: 30%;
  transition: border-radius 0.5s;
}

.navlink:hover {
  border-radius: 30px;
  transition: border-radius 0.5s;
}

.navbar-container {
  position: fixed;

}

.navbar-links-container {
    margin-left: auto;    
    flex-basis: auto;
    width: 100%;
    justify-content: flex-end;
}

.desktop-nav {
  display: none !important;
}

@media screen and (min-width: 992px) {
  .mobile-nav {
    display: none  !important;
  }
  
  .desktop-nav {
    display: flex !important;
  }
}

/*Nav bar ends*/

/* Teleporting elephants */

.elephant-A-anchor {
  anchor-name: --elephant-A-anchor;  
}

.elephant-B-anchor {
  anchor-name: --elephant-B-anchor;
  z-index: 2;
}

.elephant-A-anchor, .elephant-B-anchor {
  width: calc(100vh / 5);
  height: calc(100vh / 5);
}


.elephant-A-instance {
  position: absolute;
  position-anchor: --elephant-A-anchor;
  left: anchor(left);
  bottom: anchor(bottom);
  /*top: 0;*/
}

.elephant-B-instance {
  position: absolute;
  position-anchor: --elephant-B-anchor;
  left: anchor(left);
  bottom: anchor(bottom);
  /*top: 0;*/
}

/* Teleporting elephants ends */


/*
#text-size-slider {
  background-color: var(--elephant-pink);
}*/

.range {
  -webkit-appearance: none; 
  /*
  --range-bg	background color of the range slider thumb
   --range-thumb	color of the range slider thumb
--range-thumb-size	size of the range slider thumb
--range-progress	color of the range slider progress
--range-fill	binary, whether to fill the range slider progress or not
--range-p	padding of the range slider thumb
--size	size of the range slider
  
  --range-thumb: rgb(234, 15, 51);*/
  /*--range-bg: #D98FBF;*/
}

#text-size-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;  
  background: #D98FBF;
  cursor: pointer;
}

#text-size-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #D98FBF;
  cursor: pointer;
}

/*summary feedback
'elephant-red': '#f28972',
        'elephant-orange': '#F2C48D',
        'elephant-pink': '#D98FBF',
        'elephant-violet': '#8268A6',
        'elephant-bright-orange': '#F2B441',*/

.variable-background:nth-child(n){
  background-color: #F2C48D;
  }

.variable-background:nth-child(2n){
background-color: #f28972;
}

.variable-background:nth-child(3n){
  background-color: #D98FBF;
  }

.variable-background:nth-child(4n){
  background-color: #F2B441;
  }

/*summary feedback*/

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
